/* * {
  padding: 0;
  margin: 0;
} */
/* 
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1.5rem;
  background-color: black;
}
.navbar-icon {
  color: red;
}
.navbar-title {
  color: white;
}
.navbar-search {
  width: 100em;
}
.navbar-btn {
} */
